.row:before {
  display: block !important;
}
.row:after {
  display: block !important;
}


body {
  font-family: "proxima-nova" !important;
  /* font-style:italic !important; */
}




/* img { width: 100%;}

.row{padding-top: 30px;}

.padding-0 {
  padding: 0 15px 0 0 !important;
} */

a[aria-expanded="true"]{
  /* border-left: 1px solid white !important; */
  /* text-decoration: underline; */
  /* color: black !important; */
  /* background-color: white !important; */
  /* border-bottom: 1px solid white; */
}

.global-container {
  max-width: 1200px;
  margin: 0 auto;
  /* padding: 0 20px 0 20px; */
}

.type-section {
  /* max-width: 1200px; */
  margin: 0 auto;
  display: flex;
  background-color: #37474F;
}
.type-container {
  color: white;
  margin: 0 auto;
  height: 600px;
}

@media only screen and (max-width: 768px) {
  .type-container {
    height: 740px;
  }
}

@media only screen and (max-width: 569px) {
  .type-container {
    height: 950px;
  }
}

.type-nav {
  padding: 40px 0 20px 10px;
}

.type-expand-container {
padding: 0 0 120px 0;
}

.type-expand-container row{
 padding: 0;
}

.type-nav li{
  color: white;
  padding-right: 30px;
  text-decoration: none;
  list-style-type: none;
}

.bold-type {
  font-family: proxima-nova, sans-serif;
  font-weight: 700;
  font-size: 50px;
  line-height: 60px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

#bold {
  margin-bottom: 20px;
}

.light-type {
  font-family: proxima-nova, sans-serif;
  font-smoothing
  font-weight: 100;
  font-size: 30px;
  /* Smoothing */
 text-rendering: optimizeLegibility;
 -moz-osx-font-smoothing: grayscale;
 font-smoothing: antialiased;
 -webkit-font-smoothing: antialiased;
 text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  overflow: hidden;
}

.medium-type {
  font-family: proxima-nova, sans-serif;
  font-weight: 300;
  font-size: 18px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
  overflow: inherit;
}

#medium ul {
  list-style: none;
  padding-left: 0;
}

.regular-type {
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  font-size: 50px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.number-type {
  font-family: proxima-nova, sans-serif;
  font-weight: 200;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  -moz-osx-font-smoothing: grayscale;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  text-shadow: rgba(0, 0, 0, .01) 0 0 1px;
}

.change-margin {
  margin-top: 100px;
  margin-bottom: 150px;
}

.type-margin  {
  margin-top: 215px;
  margin-bottom: 87px;
  padding: 0;
}

.colour-margin {
  margin: 200px 0 100px 0;
}

#website-section {
  margin-bottom: 30px;
}

@media only screen and (max-width: 1000px) {
  .type-margin  {
    margin-top: 100px;
    margin-bottom: 87px;
  }
}

@media only screen and (max-width: 800px) {
  .change-margin {
    margin-top: 50px;
    margin-bottom: 80px;
  }
  .type-margin  {
    margin-top: 100px;
    margin-bottom: 87px;
  }
  .colour-margin {
    margin: 100px 0 100px 0;
  }
  #website-section {
    margin-bottom: 0px;
  }
}

@media only screen and (max-width: 600px) {
  .change-margin {
    margin-top: 50px;
    margin-bottom: 70px;
  }
  .type-margin  {
    margin-top: 70px;
    margin-bottom: 90px;
  }
}

/* .text-padding {
  padding: 0 15px 0 15px;
} */

.rebrand-header {
  font-size: 40px;
  line-height: 50px;
  margin-right: 20px;
  font-weight: 500;
  color: #424242;
  /* padding-bottom: 10px; */
}

.rebrand-text {
  font-size: 18px;
  color: #424242;
  padding-top: 8px;
  line-height: 28px;
}

.image-flex {
  margin-top: 120px;
  display: flex;
  /* flex-wrap: wrap; */
}

.image-flex img{
  padding-right: 15px;
}

nav{
  z-index: 1;
  position: fixed;
  width: 100vw;
}

.nav-container {
  width: 1200px;
  height: 55px;
  margin: 25px auto 0 auto;
  display: flex;
}

.nav-transparent {
  color: black;
  background-color: #F5F8FC;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 1px 4px 0 rgba(209, 209, 209, 0.5) !important;
  -webkit-animation: fadein 1s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 1s; /* Firefox < 16 */
      -ms-animation: fadein 1s; /* Internet Explorer */
       -o-animation: fadein 1s; /* Opera < 12.1 */
          animation: fadein 1s;
}

@keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
from { opacity: 0; }
to   { opacity: 1; }
}

.logo {
  margin-left: 20px;
  width: 130px;
  height: 30px;
  background-size: contain;
  background-repeat: no-repeat;

  /* background-image: url("../image/charitableimpact-logo-full-white.svg"); */
}

.logo-black {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../image/charitableimpact-logo-full.svg");
}

.nav-design {
  height: 30px;
  color: transparent;
  padding-top: 3px;
  font-size: 16px;

  font-family: proxima-nova, sans-serif;
  margin-left: 16px;
  padding-left: 16px;
}

.nav-design-black {
  border-left: 0.5px solid black;
  color: black;
}

.video-container {
  margin: 0 auto;
  position: relative;
  width: 100%;

  /* max-width: 1440px; */
  /* min-width: 1400px;
  overflow: hidden; */
}


#header-video {
  background-image: url('../image/bg.jpg');
  background-position: center;
  overflow: hidden;
  margin: 0 auto;

  /* background-size: cover;
  background-repeat: no-repeat; */
  /* height: 700px; */
}

#header-video video{

}

@media only screen and (max-width: 600px) {
  #header-video {
    padding-top: 40px;
  }
}

.mt-0 {
  margin: 0 !important;
}

.pd-0 {
  padding: 0 !important;
}

.colour-content {
  margin-bottom: 50px;
  padding: 0 15px;
}

.pink-block {
  background-color: pink;
  height: 40px;
  width: 40px;
}


#website-video {
  margin-top: 80px;
}
@media only screen and (max-width: 900px) {
  #website-video {
    margin-top: 40px;
  }
}

#website-photo {
  top: 40px;
}

.carousel-control-next-icon {
  /* background-image: url("image/slide-1.jpg") !important;  */
}

#photo-slider {
  max-width: 1200px;
  margin-top: 50px;
  margin: 0 auto;
}

.motion-section {
  margin-top: 100px;
  margin-bottom: 100px;
}

.motion-content {
  margin: 100px 0 10% 0;
}

.illustration-section {
  margin-bottom: 100px;
}

.illustration-section h2{
  font-size: 35px;
}

.illustration-section span {
  font-size: 18px;
}

.illustration-margin {
  margin-top: 100px;
  margin-bottom: 5%;
}

.illustration-content {

}

.illustration-margin img{
  /* max-height: 500px; */
  width: 100%;
  margin-bottom: 20px;
    /* margin-left: 15px;
    margin-right: 15px; */
  /* max-height: 500px; */
}


.pins {
  background-color: #0E0F28;
  padding: 50px 0;
  /* margin: 120px 0 80px 0; */
}

.pins img {
  width: 100%;
}
.hideme {
    opacity:0;
}


header {
  position: relative !important;
  overflow: hidden;
}

header video {
  position: relative;

  /* left: 50%; */

  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;

}


@media (pointer: coarse) and (hover: none) {
  header {
    /* background: url('../image/header-video-1.mp4') black no-repeat center center scroll; */
  }
  header video {
  }
}

.illustration-heads {
 cursor: pointer;
}

.head-1 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-1.png');
}

.head-1:hover {
  background-image: url('../image/head-3.png');
}

.head-2 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-2.png');
}

.head-2:hover {
  background-image: url('../image/head-7.png');
}

.head-3 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-3.png');
}

.head-3:hover {
  background-image: url('../image/head-9.png');
}

.head-4 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-4.png');
}

.head-4:hover {
  background-image: url('../image/head-6.png');
}

.head-5 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-5.png');
}

.head-5:hover {
  background-image: url('../image/head-2.png');
}

.head-6 {
  width: 100%;
  height: 160px;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('../image/head-6.png');
}

.head-6:hover {
  background-image: url('../image/head-8.png');
}

.illustration-set {
  margin-top: 100px;
}
