.ProximaNova-Bold {
	font-family: ProximaNova-Bold;
}.ProximaNova-Medium {
	font-family: ProximaNova-Medium;
}.ProximaNova-Light {
	font-family: ProximaNova-Light;
}.ProximaNova-Regular {
	font-family: ProximaNova-Regular;
}.ProximaNova-Semibold {
	font-family: ProximaNova-Semibold;
}
